/** {
    box-sizing:border-box;
}

body, html {
    margin:0;
    overflow: hidden;
}


.chat-container {
    display:flex;
    background:red;
    height:100vh;
}

.chat-sidebar {
    width:50%;
    height:100%;
    background:blue;
}

.inputs {
    display:flex;
    flex-direction:column;
    background:green;
    height:100%;
    width:50%;
}

.input {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px 10px;
}

.input .input-field {
    width:100%;
    max-width:500px;
    height:auto;
    min-height:50px;
    background:white;
    border-radius:1000px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.input .input-field img {
    width:20px;
    height:20px;
    display:inline-block;
}

.keyboard, .popular-keyboard, .newest-keyboard {
    height:100%;
    width:100%;
    background:yellow;
    padding:5px;
}

.keyboard-inner {
    display:flex;
    gap:5px;
    flex-wrap: wrap;
    max-width:100%;
    align-items:center;
    justify-content: center;
}

.keyboard-inner .key {
    max-width:calc(50vw / 11);
}

.keyboard-inner .key img {
    width:100%;
    height:auto;
}

.message-list {
    padding:0;
    margin:10px 0 10px;
}

.message-list .msg {
    padding:5px;
    border-radius:10px;
    background:white;
    margin-bottom:10px;
    width:100%;
}

.message-list .msg .msg-key{
    width:20px;
    height:20px;
    display:inline-block;
}

.message-list .msg .msg-key img {
    width:100%;
    height:auto;
}*/

* {
    box-sizing:border-box;
}

body, html {
    margin:0;
    overflow: hidden;
}


.chat-container {
    display:flex;
    background:red;
    width:100%;
    max-width:500px;
    margin:0 auto;
    flex-direction: column;
    box-shadow:0 0 10px rgba(0,0,0,0.14);
}

.chat-sidebar {
    height:30vh;
    width:100%;
    background:#aaa;
/*    padding:5px;*/
    overflow:hidden;
}



.message-list {
    padding:5px;
    margin:0;
    overflow-y: scroll;
    height:100%;
}



.message-list .msg {
    padding:5px;
    border-radius:10px;
    background:white;
    margin-bottom:10px;
    width:100%;
    max-width: fit-content;
}

.message-list .msg .user {
    width:100%;
    font-size:10px;
    font-weight:bold;
}

.message-list .msg .msg-key{
    width:20px;
    height:20px;
    display:inline-block;
}

.message-list .msg .msg-key img {
    width:100%;
    height:auto;
}

.inputs {
    height:70vh;
    width:100%;
    display:flex;
    flex-direction: column;
}

.inputs .input {
    padding:5px;
    display: flex;
    gap:5px;
}



.input-field {
    height:40px;
    width:100%;
    margin:0 auto;
    border-radius:5px;
    background:white;
    display:flex;
    align-items: center;
    padding:0 10px;
    overflow-y:scroll;
    flex-wrap: wrap;
}

.inputs .input img {
    height:30px;
    pointer-events: none;
}

.popular-keyboard, .newest-keyboard, .keyboard {
    padding:5px;
    width:100%;
}

.keyboard-inner{
    display:flex;
}

.keyboard-inner .key{
    flex:1;
    height:48px;
    background:blue;
    user-select: none;
    margin:0 6px 0 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.keyboard-inner .key img {
    height:100%;
}

.overlay {
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    position:fixed;
    z-index:10;
    height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
}

.overlay .modal {
    padding:10px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.14);
}

.overlay .modal input {
    border:solid 1px rgba(0,0,0,0.6);
    border-radius: 5px;
    webkit-appearance:none;
    padding:10px;
    font-size:20px;
}