* {
    box-sizing:border-box;
}

body, html {
    margin:0;
    overflow: hidden;
}


.chat-container {
    display:flex;
/*    flex-direction:column;*/
    background:red;
    height:100vh;
}

.chat-sidebar {
    width:50%;
    height:100%;
    background:blue;
}

.inputs {
    display:flex;
    flex-direction:column;
    background:green;
    height:100%;
    width:50%;
}

.input {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px 10px;
}

.input .input-field {
    width:100%;
    max-width:500px;
    height:auto;
    min-height:50px;
    background:white;
    border-radius:1000px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.input .input-field img {
    width:20px;
    height:20px;
    display:inline-block;
}

.keyboard, .popular-keyboard, .newest-keyboard {
    height:100%;
    width:100%;
    background:yellow;
    padding:5px;
}

.keyboard-inner {
    display:flex;
    gap:5px;
    flex-wrap: wrap;
    max-width:100%;
    align-items:center;
    justify-content: center;
}

.keyboard-inner .key {
    max-width:calc(50vw / 11);
}

.keyboard-inner .key img {
    width:100%;
    height:auto;
}

.message-list {
    padding:0;
    margin:10px 0 10px;
}

.message-list .msg {
    padding:5px;
    border-radius:10px;
    background:white;
/*    max-width:400px;*/
    margin-bottom:10px;
    width:100%;
}

.message-list .msg .msg-key{
    width:20px;
    height:20px;
    display:inline-block;
}

.message-list .msg .msg-key img {
    width:100%;
    height:auto;
}